

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [14]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [15]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  Flying LHR T5 to CPT Novemb...
1  Not Verified | Worst experience ever. Outbound...
2  ✅ Trip Verified |  Check in was a shambles at ...
3  ✅ Trip Verified | Beyond disgusted with the fa...
4  ✅ Trip Verified | On July 19th 2022 I had subm...

In [16]:
df.to_csv("data.csv")

 Now we have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [17]:
df=pd.read_csv('data.csv')
df.drop(columns='Unnamed: 0',inplace=True)

In [18]:
df.head()

                                             reviews
0  ✅ Trip Verified |  Flying LHR T5 to CPT Novemb...
1  Not Verified | Worst experience ever. Outbound...
2  ✅ Trip Verified |  Check in was a shambles at ...
3  ✅ Trip Verified | Beyond disgusted with the fa...
4  ✅ Trip Verified | On July 19th 2022 I had subm...

In [19]:
df['reviews']=df['reviews'].str.replace('✅ Trip Verified','').str.replace('Not Verified','').str.strip('|')

In [20]:
df.head()

                                             reviews
0   |  Flying LHR T5 to CPT November 2022:  BA ap...
1   | Worst experience ever. Outbound flight was ...
2   |  Check in was a shambles at BWI, just 3 cou...
3   | Beyond disgusted with the fact that my bagg...
4   | On July 19th 2022 I had submitted a complai...

In [21]:
df.to_csv('processed.csv')